<!-- ugv_test_slam.launch
     created by  Alireza Hekmati
     created at  AIS
     this is the slam launch file for ugv_v2_test -->
<launch>
    <master auto="start"/>
    <param name="/use_sim_time" value="false"/>

    <node pkg="gmapping" type="slam_gmapping" name="gmapping" >
        <remap from="scan" to="base_scan" />
        
        <param name="inverted_laser" value="true" />
        <param name="maxUrange" value="15.0" />
        <param name="maxRange" value="15.0" />
        <param name="particles" value="60" />
        <param name="delta" value="0.05" />
        <param name="xmin" value="-15.0" />
        <param name="xmax" value="15.0" />
        <param name="ymin" value="-15.0" />
        <param name="ymax" value="15.0" />
        <param name="srr" value="0.2"/>
        <param name="srt" value="0.2"/>
	<param name="str" value="0.2"/>
	<param name="stt" value="0.2"/>
        <param name="angularUpdate" value="0.25" />
        <param name="linearUpdate" value="0.5" />
        <param name="map_update_interval" value="2.5" />
        <param name="resampleThreshold" value="0.3" />
        <param name="llsamplerange" value ="0.05" />
        <param name="llsamplestep" value ="0.05" />
        <param name="lasamplerange" value ="0.025" />
        <param name="lasamplestep" value ="0.025" />
        <param name="minimumScore" value ="250.0" />
    </node>
</launch>
